.full-width
  .contents
  .topic-list
  .topic-list-body
  .topic-list-item
  .topic-list-data.posters
  a {
  display: none;
}
.full-width
  .contents
  .topic-list
  .topic-list-body
  .topic-list-item
  .topic-list-data.posters
  a:first-child {
  display: contents;
}
